html,
body {
    background-color: #ffeead;
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

p {
    color: #96ceb4;
    text-align: center;
}

.flexbox-header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
    padding: 10px 20px;
}

.flexbox-header {
    background-color: #96ceb4;
    color: #ffeead;
}


.header {
    background-color: #96ceb4;
}

.header :nth-child(2) {
    padding: 0 40px;
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

.grid-page > div {
    color: #ffeead;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px;
}

.header > a {
    text-decoration: none;
    color: #ffeead;
}

.header > a:hover {
    color: rgba(255, 238, 173, 0.57);
}
